# Environment
.env
session.json

# Python auth daemon
/py-auth-daemon/venv/

# Rust build
/target/

# Temporary cache
/tmp-cache/

# OS / editor artifacts
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
rust-tui/target/
